body{

    background-color:#f5f8ff;
}
.center{

    text-align:center;
}

header{

    margin:0;
    padding:0;
    background: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    background-repeat:no-repeat;
    /* background-size:contain; */
}


.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 110px;
}

.banner-content{

    text-align:center;
    padding:100px 20px;
}

.nav-title{

    font-size:34px;
    font-weight:700;
    color:#4E47FF;
}

.btn-style{

    background-color:aqua;
    padding:10px 20px;
    font-size:16px;
    border:none;
    border-radius:10px;
    
}

.banner-content h1{

    font-size:65px;
    font-weight:700;

}
.btn-style:hover{

    background-color:blue;
    color:black;
}
/* Action section start  */

main{

    max-width:1140px;
    margin:0 auto;
}
.action{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:220px;
    margin-bottom:220px;
}


.section-title{
    font-size:42px;
    font-weight:700;
}

.action-content p{

    font-size:24px;
    color:#252432;
}

.action img{

    border-radius:50px;

}

/* Users section start */
.user{

    background-color:#e5e7ff;
    padding:50px 140px;
    border-radius:10px;
}
.user h2{

    text-align:center;
    font-weight:700;
    font-size:38px;
}

.user-container{

    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.user-item{
    text-align:center;
    margin:10px;
}
.user-item h3{
font-size:32px;
font-weight:700;
color:#4E47FF;
margin-bottom:5px;
    

}

.user-item p{

    font-size:14px;
    color:#555;
}
/* form section start */

.footer-form{

    display:flex;
    gap:85px;
    margin-top:100px;
    margin-bottom:30px;
}
form{

    display:block;
}

.footer-column h2{
    
    font-size:75px;
}
.footer-column{

    width:50%;
}

.footer-column input[type="email"],.footer-column input[type="text"],textarea,.footer-column input[type="submit"]{
    height:65px;
    border-radius:5px;
    background-color:white;
    padding:10px 20px;
    display:block;
    width:100%;
    border:none;
    margin-bottom:24px;

}

.footer-menu{

    display:flex;
    justify-content:center;
}
.footer-menu li {
list-style:none;
margin-right:50px;
}
.footer-menu li a{
    text-decoration:none;
    color:#555;
}

footer p{

    max-width:530px;
    margin:0 auto;
}

footer{

    padding:100px 450px;
    background-color:#ffff;
}

footer h1{

    color:#4E47FF;
    font-size:70px;
    font-weight:700;
}